<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- image wrapper -->
    <div class="imageWrapper">
      <img src="..\..\..\assets\img\himalaya.jpg" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-start clearfix">
    <!-- title -->
    <div class=" col-10 title clearfix">
      <span>THE GREAT Himalayas</span>
    </div>
    <div class="col-1 clearfix">
        <i class="fa fa-globe"></i>
    </div>
  </div>

  <!-- open place item -->
  <div class="row justify-content-end ">
    <span class="col-1">

    </span>
  </div>

</div>
